
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Gastos {{stringMes}} / {{ ano }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="navigateToaddShoppingPage()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<ion-content padding>

  <div id="left">
    <h2>R$ {{gastoMes}} </h2>
    gasto
  </div>

  <div id="right">
    <h2>R$ {{restante}} </h2>
    restante
  </div>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <div id="left">
    <h4>por pessoa</h4>
  </div>
  <div id="right">
    <button ion-button>
      <ion-icon (click)="hideShowPorPessoa(false)" name="md-remove"></ion-icon>
    </button>
    <button ion-button>
      <ion-icon (click)="hideShowPorPessoa(true)" name="md-add"></ion-icon>
    </button>
  </div>
  <ion-list [class.hide]="!statusPorPessoa">
    <ion-item>

      <h4> Bruna:</h4> apos divisão = R$ {{ ( (gastosDivisiveisBruna + gastosDivisiveisMaicon ) / 2 ) - (gastosDivisiveisBruna)
      }}
      <br> total divisiveis = {{gastosDivisiveisBruna}}
      <br> gastos individuais = {{gastosIndividuaisBruna}}
      <br> gastos totais = {{ gastosDivisiveisBruna + gastosIndividuaisBruna }}
    </ion-item>
    <ion-item>
      <h4> Maicon:</h4> apos divisão = R$ {{ ( (gastosDivisiveisBruna + gastosDivisiveisMaicon ) / 2 ) - (gastosDivisiveisMaicon)
      }}
      <br> total divisiveis = {{gastosDivisiveisMaicon}}
      <br> gastos individuais = {{gastosIndividuaisMaicon}}
      <br> gastos totais = {{ gastosDivisiveisMaicon + gastosIndividuaisMaicon }}
    </ion-item>


  </ion-list>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <div id="left">
    <h4>por categoria</h4>
  </div>
  <div id="right">
    <button ion-button>
      <ion-icon (click)="hideShowCategorias(false)" name="md-remove"></ion-icon>
    </button>
    <button ion-button>
      <ion-icon (click)="hideShowCategorias(true)" name="md-add"></ion-icon>
    </button>
  </div>

  <ion-list [class.hide]="!statusCategorias">

    <ion-item *ngFor="let item of categorias$ | async">

      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{myObj[item.descricao]}} </h2>
      <h2>
        % {{ ( myObj[item.descricao] * 100) / (gastoMes )}} </h2>



    </ion-item>
  </ion-list>
  <hr>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <div id="left">

    <h4> fixos R$ {{totalFixos}}</h4>

  </div>
  <div id="right">
    <button ion-button>
      <ion-icon (click)="hideShowFixos(false)" name="md-remove"></ion-icon>
    </button>
    <button ion-button>
      <ion-icon (click)="hideShowFixos(true)" name="md-add"></ion-icon>
    </button>

  </div>
  <ion-list [class.hide]="!statusFixos">
    <ion-item *ngFor="let item of gastosFixosRef$ | async">

      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}} </h2>
      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}} </h2>
      <h2>dividir ? {{item.dividir}} </h2>
    </ion-item>
    <button ion-button (click)="importarGastosFixos()">Importar gastos fixos</button>
  </ion-list>


  <br>
  <br>
  <br>
  <hr>
  <div id="left">
    <h4> crédito R$ {{totalCredito}}</h4>

  </div>
  <div id="right">
    <button ion-button>
      <ion-icon (click)="hideShowCredito(false)" name="md-remove"></ion-icon>
    </button>
    <button ion-button>
      <ion-icon (click)="hideShowCredito(true)" name="md-add"></ion-icon>
    </button>
  </div>
  <ion-list [class.hide]="!statusCredito">

    <ion-item *ngFor="let item of gastosCreditoRef$ | async">

      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}} </h2>

      <h2>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{item.parcela}} </h2>

      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}} </h2>
      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}} </h2>
      <h2>dividir ? {{item.dividir}} </h2>

    </ion-item>
  </ion-list>

  <hr>
  <br>
  <br>
  <br>
  <hr>
  <!-- <ion-list>
    <ion-item>
      <ion-label>diversos</ion-label>
      <ion-toggle [(ngModel)]="pepperoni" ></ion-toggle>
    </ion-item>
  </ion-list> -->
  <div id="left">
    <h4>diversos R$ {{totalDiversos}}</h4>

  </div>
  <div id="right">
    <button ion-button>
      <ion-icon (click)="hideShowDiversos(false)" name="md-remove"></ion-icon>
    </button>
    <button ion-button>
      <ion-icon (click)="hideShowDiversos(true)" name="md-add"></ion-icon>
    </button>

  </div>
  <ion-list [class.hide]="!statusDiversos">

    <ion-item *ngFor="let item of shoppingListRef$ | async" (click)="selectShoppingItem(item)">

      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}} </h2>
      <h2>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{item.data}} </h2>
      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}} </h2>

      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}} </h2>
      <h2>dividir ? {{item.dividir}} </h2>

    </ion-item>

  </ion-list>

</ion-content>

