<ion-header>

  <ion-navbar color="primary">
 
    <ion-title>Gastos {{stringMes}} / {{ ano }}</ion-title>
    <ion-buttons end>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>


    <!-- <ion-item>
        <ion-label floating>Descrição</ion-label>
        <ion-input type="text" [(ngModel)]="descricao"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Valor</ion-label>
        <ion-input type="number" [(ngModel)]="valor"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Data</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data"></ion-datetime>
      </ion-item>
    
    
      <ion-item>
        <ion-label>Categoria</ion-label>
        <ion-select [(ngModel)]="categoria">
          <ion-option value="{{categoria}}" *ngFor="let categoria of categorias"> {{categoria}}</ion-option>
        </ion-select>
      </ion-item>
    
    
      <ion-item>
        <ion-label>Dividir valor?</ion-label>
        <ion-select [(ngModel)]="dividir">
          <ion-option value="sim">sim</ion-option>
          <ion-option value="nao">não</ion-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-label>Gasto por</ion-label>
        <ion-select [(ngModel)]="gasto_por">
          <ion-option value="Bruna">Bruna</ion-option>
          <ion-option value="Maicon">Maicon</ion-option>
        </ion-select>
      </ion-item>
<!-- ,dividir,categoria,data,valor,descricao-->
  <button ion-button block (click)="filtrarGastos(gasto_por)">FILTRAR</button>

  <ion-list>
    <ion-item>
      <div id="left">
        <h2>R$ {{gastoMes}} </h2>
        gasto
      </div>
      <div id="right">
        <h2>R$ {{restante}} </h2>
        restante
      </div>
    </ion-item>
  </ion-list>

  <hr>
  <br>
  <div id="content">
    <h4>gastos/pessoa</h4>
  </div>
  <div id="search">
    <button ion-button (click)="hideShowPorPessoa()">
      <ion-icon name="ios-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusPorPessoa">
    <ion-item>
      <h4> Bruna:</h4> apos divisão = R$ {{ ( (gastosDivisiveisBruna + gastosDivisiveisMaicon ) / 2 ) - (gastosDivisiveisBruna)
      }}
      <br> total divisiveis = {{gastosDivisiveisBruna}}
      <br> gastos individuais = {{gastosIndividuaisBruna}}
      <br> gastos totais = {{ gastosDivisiveisBruna + gastosIndividuaisBruna }}
      <br>
    </ion-item>
    <ion-item>
      <h4> Maicon:</h4> apos divisão = R$ {{ ( (gastosDivisiveisBruna + gastosDivisiveisMaicon ) / 2 ) - (gastosDivisiveisMaicon)
      }}
      <br> total divisiveis = {{gastosDivisiveisMaicon}}
      <br> gastos individuais = {{gastosIndividuaisMaicon}}
      <br> gastos totais = {{ gastosDivisiveisMaicon + gastosIndividuaisMaicon }}
      <br>
    </ion-item>
  </ion-list>

  <hr>
  <br>

  <div id="content">
    <h4>gastos/categoria</h4>
  </div>
  <div id="search">
    <button (click)="hideShowCategorias()" ion-button>
      <ion-icon name="ios-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusCategorias">
    <ion-item *ngFor="let item of categorias$ | async">
      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{myObj[item.descricao] ? myObj[item.descricao] : '0'}} </h2>
      <!-- <h2>  % {{ myObj[item.descricao] ?   ( myObj[item.descricao] * 100) / (gastoMes ) : '0'}} </h2> -->
    </ion-item>
  </ion-list>

  <br>
  <hr>
  <br>

  <div id="content">
    <h4>
      <ion-icon name="logo-usd"></ion-icon> fixos R$ {{totalFixos}}</h4>
  </div>
  <div id="search">
    <button (click)="hideShowFixos()" ion-button>
      <ion-icon name="md-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusFixos">
    <ion-item *ngFor="let item of gastosFixosRef$ | async">
      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}} </h2>
      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}} </h2>
      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}} </h2>
      <h2>dividir ? {{item.dividir}} </h2>
    </ion-item>
    <button ion-button (click)="importarGastosFixos()">Importar gastos fixos</button>
  </ion-list>
  <br>
  <hr>
  <br>
  <div id="content">
    <h4>
      <ion-icon name="card"></ion-icon> crédito R$ {{totalCredito}}</h4>

  </div>
  <div id="search">
    <button (click)="hideShowCredito()" ion-button>
      <ion-icon name="ios-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusCredito">
    <ion-item *ngFor="let item of arrayGastoCredito">
      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}} </h2>

      <h2>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{item.parcela}} </h2>

      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}} </h2>
      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}} </h2>
      <h2>dividir ? {{item.dividir }} </h2>

    </ion-item>
  </ion-list>
  <br>
  <hr>
  <br>
  <div id="content">
    <h4>
      <ion-icon name="cash"></ion-icon> variáveis R$ {{totalDiversos}}</h4>
  </div>
  <div id="search">
    <button (click)="hideShowDiversos()" ion-button>
      <ion-icon name="ios-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusDiversos">
    <ion-item *ngFor="let item of shoppingListRef$ | async" (click)="selectShoppingItem(item)">
      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}} </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}} </h2>
      <h2>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{item.data}} </h2>
      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}} </h2>
      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}} </h2>
      <h2>dividir ? {{item.dividir }} </h2>
    </ion-item>
  </ion-list>

</ion-content>