<ion-header>

  <ion-navbar color="primary">

    <ion-title>Gastos {{stringMes}} / {{ ano }}</ion-title>
    <ion-buttons end>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>


  <ion-list>
    <ion-item>
      <div id="left">
        <h2>R$ {{gastoMes}} </h2>
        gasto
      </div>
      <div id="right">
        <h2>R$ {{restante}} </h2>
        restante
      </div>
    </ion-item>
  </ion-list>


  <br>
  <hr>
  <br>

  <div id="content">
    <h4>
      <ion-icon name="logo-usd"></ion-icon> fixos R$ {{totalFixos}}
    </h4>
  </div>
  <div id="search">
    <button (click)="hideShowFixos()" ion-button>
      <ion-icon name="md-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusFixos">
    <ion-item *ngFor="let item of arrayGastosFixos">
      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}}
      </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}}
      </h2>
      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}}
      </h2>
      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}}
      </h2>
      <h2>dividir ? {{item.dividir}} </h2>
    </ion-item>
  </ion-list>
  <br>
  <hr>
  <br>
  <div id="content">
    <h4>
      <ion-icon name="card"></ion-icon> crédito R$ {{totalCredito}}
    </h4>

  </div>
  <div id="search">
    <button (click)="hideShowCredito()" ion-button>
      <ion-icon name="ios-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusCredito">
    <ion-item *ngFor="let item of arrayGastoCredito">
      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}}
      </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}}
      </h2>

      <h2>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{item.parcela}}
      </h2>

      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}}
      </h2>
      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}}
      </h2>
      <h2>dividir ? {{item.dividir }} </h2>

    </ion-item>
  </ion-list>
  <br>
  <hr>
  <br>
  <div id="content">
    <h4>
      <ion-icon name="cash"></ion-icon> variáveis R$ {{totalDiversos}}
    </h4>
  </div>
  <div id="search">
    <button (click)="hideShowDiversos()" ion-button>
      <ion-icon name="ios-search"></ion-icon>
    </button>
  </div>
  <br>
  <hr>
  <br>
  <ion-list [class.hide]="!statusDiversos">
    <ion-item *ngFor="let item of arrayGastosDiversos " >
      <h2>
        <ion-icon ios="ios-create" md="md-create"></ion-icon> {{item.descricao}}
      </h2>
      <h2>
        <ion-icon ios="ios-cash" md="md-cash"></ion-icon> R$ {{item.valor}}
      </h2>
      <h2>
        <ion-icon ios="ios-calendar" md="md-calendar"></ion-icon> {{item.data}}
      </h2>
      <h2>
        <ion-icon ios="ios-help" md="md-help"></ion-icon> {{item.categoria}}
      </h2>
      <h2>
        <ion-icon ios="ios-contact" md="md-contact"></ion-icon> {{item.gasto_por}}
      </h2>
      <h2>dividir ? {{item.dividir }} </h2>
    </ion-item>
  </ion-list>

</ion-content>