page-detalhe-gastos {

        #right{
            height: 5%;
            width: 50%;
            float: right;
        }
    
        #left{
            height: 5%;
            width: 50%;
            float: left;
        }
    
        #search{
            height: 5%;
            width: 10%;
            float: right;
        }
    
        #content{
            height: 5%;
            width: 90%;
            float: left;
        }
 
    
}
